// Import page-specific CSS files here.
@import "home";

body {
  background-image: url(https://c8.alamy.com/comp/2C7HHJ2/film-icon-in-flat-style-popcorn-vector-illustration-on-white-isolated-background-pop-corn-bucket-seamless-pattern-business-concept-2C7HHJ2.jpg);
  background-position: center;
  background-size: cover;
}
